<a routerLink="/noticia" class="btn btn-primary left">Voltar</a>

<form class="form" [formGroup]="form">
  <div class="mb-3">
    <label for="id"></label>
    <input
      id="id"
      type="text"
      class="form-control"
      placeholder="ID"
      [formControl]="form.controls.id"
    />
  </div>

  <div class="mb-3">
    <label for="titulo"></label>
    <input
      id="titulo"
      type="text"
      class="form-control"
      placeholder="Título"
      [formControl]="form.controls.titulo"
    />
  </div>

  <div class="mb-3">
    <label for="corpo'"></label>
    <input
      id="corpo"
      type="text"
      class="form-control"
      placeholder="Corpo"
      [formControl]="form.controls.corpo"
    />
  </div>

  <div class="mb-3">
    <select [formControl]="form.controls.categoria" class="form-select">
      <option *ngFor="let cat of cat$" value="{{ cat.id }}">
        {{ cat.nome }}
      </option>
    </select>
  </div>

  <br />

  <div class="clearfix"></div>

  <div class="container-fluid d-flex justify-contend-end">
    <button class="btn btn-primary float-right" (click)="salvar()">
      Salvar
    </button>
  </div>
</form>
